body {
    background-color: 	#162C58;
}

/* LE TOP */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a232d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

li {
    float: right;
}

li input {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 50px;
    font-family: Supra, sans-serif;
}

li input:hover {
    background-color: #d52a4e;
}


#map {
    /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
    text-align: center;
    position: relative;
    top: 100px;
    height: 1000px;
    z-index: 1;
}

footer{
    color : white;
    font-size: 10px;
    text-align: center;
}