body {
    background-color: 	#162C58;
}

/* LE TOP */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a232d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

li {
    float: right;
}

li input {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 50px;
    font-family: Supra, sans-serif;
}

li input:hover {
    background-color: #d52a4e;
}

.container {
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

h1{
    color: white;
    text-align: center;
    font-size: 90px;
}

/* SEARCH BAR */

#searchBar {
    width: 100%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid
    #eaeaea;
    padding: 5px 10px;
    font-size: 20px;
}

#searchwrapper {
    position: relative;
}

#searchwrapper::after {
    content: '🔎';
    position: absolute;
    top: 2px;
    right: 15px;
}

/* TABLEAU ARTISTE */
li{
    list-style-type : none;

}

.artist{
    background-color: white;
    border-radius: 1%;
    margin: 1% ;
    width:48%;
    height: 250px;


}
.artist > h2 {
    font-size: 30px;
    position: relative;
    top: -200px;
    left: -150px;
}

.artist > h3 {
    position: relative;
    top: -200px;
    left: -150px;
    font-weight: lighter;
}
.artist > h4 {
    position: relative;
    top: -200px;
    left: -150px;

    font-weight: lighter;
}

.artist > h5 {
    position: relative;
    top: -200px;
    left: -1px;
    font-weight: lighter;
}

.artist > img {
    height: 200px;
    border-radius: 50%;
    position: relative;
    top: 25px;
    left: 230px;
    z-index: 0;
}

footer{
    color: white;
    font-size: 10px;
    text-align: center;
}
