<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/stylesheets/main.css" rel="stylesheet">
    <title> Groupie-Tracker </title>
</head>

<body>
    <ul>
        <li><a href="http://localhost:8080/geolocation">Geolocation</a></li>
        <li><a href="http://localhost:8080/">Home</a></li>
    </ul>

    <div>
        <div class=" container">
            <h1>&#x2728; Groupie Tracker &#x2728;</h1>
            <div id=" searchwrapper">
                <input type="text" name="searchBar" id="searchBar" placeholder="Search for an artist"
                    value="{{ .Query }}" />
                <input type="checkbox" name="6">
            </div>

            <div id="allArtists">
                {{ range .Concerts }}
                <li class="artist">
                    <img src="{{ .Artist.Image }}" alt="img" />
                    <h2>{{ .Artist.Name }}</h2>
                    <h3> Creation Date : {{ .Artist.CreationDate }}</h3>
                    <h4>First Album : {{ .Artist.FirstAlbum }}</h4>
                    <h5> Members:
                        {{ range .Artist.Members }}
                        {{ . }}
                        {{ end }}
                    </h5>
                    <h5> Locations:
                        {{ range .Locations.Locations }}
                        {{ . }}
                        {{ end }}
                    </h5>

                </li>

                {{ end }}
            </div>


        </div>
    </div>

</body>

<footer>

    @2022 Ynov Campus

</footer>


</html>

<script>
    function myFunction() {
        // Declare variables
        var input, filter, artist, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        console.log(input);
        console.log(document.getElementById('h3').value);
        filter = input.value.toUpperCase();
        artist = document.getElementById("allArtists");
        tr = artist.getElementsByTagName("h3");

        // Loop through all Artist rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("h2")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    var timeOut = null;

    (function () {
        // your page initialization code here
        // the DOM will be available here
        console.log("lol");
        input = document.getElementById("searchBar");
        input.addEventListener('input', function (event) {
            var searchText = input.value;
            console.log(input.value);
            console.log('http://localhost:8080?q=' + searchText);
            if (timeOut != null) {
                clearTimeout(timeOut);
            }
            timeOut = setTimeout(() => {
                window.location.replace('http://localhost:8080?q=' + searchText);;
            }, 2000);


        });




    })();

    function httpGet(theUrl) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", theUrl, false); // false for synchronous request
        xmlHttp.send(null);
        return xmlHttp.responseText;
    }
</script>